<nav class="navbar">
    <a href="/manager/inventory">Inventory</a>
    <a href="/manager/pricing">Pricing</a>
    <a href="/manager/employees">Employees</a>
    <a href="/manager/recipes">Recipes</a>
    <a href="/manager/menuItems">Menu Items</a>
</nav>