<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <%- include("nav_manager.ejs") %>

        <h1>Inventory</h1>
        <table>
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
            </thead>
        </table>
    </body>
</html>