<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu Items</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    
    <body>
        <%- include("nav_manager.ejs") %>
    </body>
</html>