<nav class="manager-nav">
    <a href="inventory.ejs">Inventory</a>
    <a href="pricing.ejs">Pricing</a>
    <a href="employees.ejs">Employees</a>
    <a href="recipes.ejs">Recipes</a>
    <a href="manMenuItems.ejs">Menu Items</a>
</nav>