<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks - Panda Express</title>
    
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/menu-items.css">
    
    <script src="functions/kiosk/menu-items.js" defer></script>
</head>
<body>
    <div class="header">
        Panda Express
    </div>

    <div class="container">
        <h1>Choose Your Drink</h1>
        
        <div class="items-list">
            <button class="item-card" onclick="selectMenuItem('Coke')">
                <h3>Coke</h3>
            </button>
            
            <button class="item-card" onclick="selectMenuItem('Water')">
                <h3>Water</h3>
            </button>
            
            <button class="item-card" onclick="selectMenuItem('Diet Coke')">
                <h3>Diet Coke</h3>
            </button>
            
            <button class="item-card" onclick="selectMenuItem('Sprite')">
                <h3>Sprite</h3>
            </button>
            
            <button class="item-card" onclick="selectMenuItem('Dr. Pepper')">
                <h3>Dr. Pepper</h3>
            </button>

        </div>
    </div>
    
    <div class="footer">
        Created by Fall 2025 Team 42.
    </div>

</body>
</html>