<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/start.css">
    <script src="functions/kiosk/start.js" defer></script>
</head>
<body>
     <div class="header">
        Panda Express
    </div>
    <div class="container">
        <h1>Welcome!</h1>
        
        <button class="start-order-btn" onclick="startOrder()"><strong>Start Order</strong></button>
    </div>
        
    </div>
    <div class="footer">
        Created by Fall 2025 Team 42.
    </div>

</body>
</html>