.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 25px;
    padding: 20px;
}
.menu-item {
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #d0d0d0;
}

.container {
    overflow-y: auto;
    max-height: 100vh;
}

button.selected {
    border: 5px solid #b71c1c;
 
}

.proceed-button {
  position: fixed;          
  bottom: 50px;             
  right: 20px;              
  background-color: white;
  border: 2px solid #d32f2f;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;           
}



.proceed-button:hover {
    background-color: #d32f2f;
    color: white;
}