.complete-order-button {
  position: fixed;          
  bottom: 50px;             
  right: 20px;              
  background-color: white;
  border: 2px solid #d32f2f;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;           
}

.complete-order-button:hover {
    background-color: #d32f2f;
    color: white;
}