.start-order-btn {
    padding: 30px 40px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 40px 60px;
    font-size: 30px;
    margin: 50px auto;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}
    
.start-order-btn:hover {
    background-color: #b71c1c;
}   